<h1>Github Explore Archive</h1>
<p>Welcome to the Github Explore Archive</p>

<ul>
  {{#repositories}}
    <li>
      <h4><a href="{{url}}">{{name}}</a></h4>
      <small>{{human_indexed_date}}</small>
      <p class="description">{{description}}</p>
    </li>
  {{/repositories}}
</ul>
